{{!< default}}
<!-- Content starts -->

<!-- Layer slider code begins -->

<div class="container-fluid slider">
	<div id="layerslider" style="width: 100%; height: 550px;">
    		<div class="ls-slide" data-ls="slidedelay: 10000;"><!-- start of first slide -->
	<!-- slide background -->
	<img src="/images/slider_images/slide1_background.jpg" class="ls-bg" alt="Slide background">
	<!-- End of slide background -->
		<img class="ls-l slider-text-white-black" src="/images/slider_images/heading.png" 
			style="top: 31%; left: 19%; font-size: 28px;"
				data-ls="
					offsetxin: -600; 
					offsetyin: -60;
					delayin: 1000;
					rotatein: 90;
				">
				<!-- End of layer -->
		<img class="ls-l slider-text-blue-white" src="/images/slider_images/subheading1.png" 
			style="top: 41%; left: 19%; "
				data-ls="
					delayin: 2000;
				">
				<!-- End of layer -->
		<img class="ls-l slider-text-blue-white" src="/images/slider_images/subheading2.png" 
			style="top: 50%; left: 19%;"
				data-ls="
					delayin: 3000;
				">
				<!-- End of layer -->
		<img class="ls-l slider-text-blue-white" src="/images/slider_images/subheading3.png"
			style="top: 59%; left: 19%;"
				data-ls="
					delayin: 4000;
				">
				<!-- End of layer -->
		<img class="ls-l" src="/images/slider_images/slide1_laptop.png" alt="slider image"
			style="top: 50%; left: 67%;"
				data-ls="
					delayin: 5000;
					rotatein: 90;
				">
				<!-- End of layer -->
		<img class="ls-l" src="/images/slider_images/slide1_tablet.png" alt="slider image"
			style="top: 63%; left: 49%;"
				data-ls="
					delayin: 6000;
					offsetxin: right;
				">
				<!-- End of layer -->
		<img class="ls-l" src="/images/slider_images/slide1_phone.png" alt="slider image"
			style="top: 70%; left: 85%;"
				data-ls="
					delayin: 7000;
					offsetxin: right
				">
			<!-- This will link the whole slide to your about page, change it to suit your needs -->
			<a href="about.html" class="ls-link"></a>
		</div><!-- End of first slide -->
      		</div><!-- End of layer slider container -->
				</div><!-- End of fluid container housing the slider -->
				
				<!-- Start of large icon hero section -->
				
<div class="container-fluid hero-unit">
	<div class="container content-breather-small">
		<div class="row">
			<div class="col-md-9">
				<h2>
					Everything you need, 
					<span class="heavy text-branding">nothing you don't!..</span>
				</h2>
				<p>
					Mist the ultra stylish, multi use Bootstrap 3 template, give your 
					business the head start it deserves with this ultra modern, 
					stylish, sophisticated template.
				</p>
			</div><!-- End of column -->
			<div class="col-md-3">
				<p> 
					<button type="button" class="btn branding-background btn-lg pull-right hero-button">
					<span data-icon="&#xe008;" class="icon icon-lg"></span>  Download Mist</button>
				</p>
			</div><!-- End of column -->
		</div><!-- End of row -->
	</div><!-- End of container -->
</div><!-- End of fluid container -->
<div class="container content-breather">
	<div class="row">
		<div class="col-md-4 col-sm-4 animatedParent animateOnce" data-appear-top-offset='-200'>
			<div class="icon-holder">
				<div data-icon="&#xe000;" class="icon animated bounceInRight"></div>
			</div><!-- End of Icon holder -->
				<h3 class="text-center">Plain sailing...</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, 
						eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis 
						in faucibus orci luctus et ultrices posuere cubilia Curae; 
						Nam placerat nunc in sagittis rhoncus.
					</p>
		</div><!-- End of column -->
		<div class="col-md-4 col-sm-4 animatedParent animateOnce" data-appear-top-offset='-200'>
			<div class="icon-holder">
				<div data-icon="&#xe093;" class="icon animated bounceInDown"></div>
			</div><!-- End of Icon holder -->
				<h3 class="text-center">Up and running fast...</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, 
						eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis 
						in faucibus orci luctus et ultrices posuere cubilia Curae; 
						Nam placerat nunc in sagittis rhoncus.
					</p>
		</div><!-- End of column -->
		<div class="col-md-4 col-sm-4 animatedParent animateOnce" data-appear-top-offset='-200'>
			<div class="icon-holder">
				<div data-icon="&#xe00c;" class="icon animated bounceInLeft"></div>
			</div><!-- End of Icon holder -->
				<h3 class="text-center">Relax... it's taken care of</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, 
						eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis 
						in faucibus orci luctus et ultrices posuere cubilia Curae; 
						Nam placerat nunc in sagittis rhoncus.
					</p>
		</div><!-- End of column -->
	</div><!-- End of row -->
</div><!-- End of container -->

<!-- End of large icon hero section -->

<!-- Start of blog preview section -->

<div id="overlays" class="overlays container-fluid content-breather hero-unit">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>From our blog...</h3>
			</div><!-- End of column -->
		</div><!-- End of row -->	
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Find out what we think about.... well, everything! </p>
			</div><!-- End of column -->
		</div><!-- End of row -->
	</div><!-- End of container -->

	<div class="container">
		<div class="row">

			{{# each data.posts}}

			<div class="col-sm-4 animatedParent animateOnce" data-appear-top-offset='-200' >
				<div class="animated fadeInLeftShort ">

					{{#if this.image.url}}

					<div class="img">
						<img class="img-rounded-small" 
						src="{{this.image.url}}" alt="image">
							<div class="overlay">
								<a href="/blog/post/{{this.slug}}" class="expand"><i class="icon" data-icon="&#xe067;"></i></a>
								<a class="close-overlay hidden">x</a>
							</div><!-- End of overlay -->
					</div><!-- End of img class  -->

					{{/if}}

					<h4 class="text-center"><a href="/blog/post/{{this.slug}}">{{this.title}}</a></h4>
						<hr class="underline">
							<ul class="blog-meta">
								<li>{{#if this.author.name.first}}by {{this.author.name.first}}{{/if}}</li>
								<li><i class="icon" data-icon="&#xe082;"></i> {{day}} of {{date}}&nbsp;&nbsp;</li>
								<li><i class="icon" data-icon="&#xe016;"></i> 
								<span class="disqus-comment-count" data-disqus-url="http://localhost:3000/blog/post/{{this.slug}}"></span></li>
							</ul>
						</div><!-- End of animated wrapper -->
					</div><!-- End of column -->

				{{/each}}

				</div><!-- End of row -->
			</div><!-- End of container -->
		</div><!-- End of main fluid container, housing grey background, contains the blog preview -->

<!-- Start of signup to Email section -->

<div class="parallax parallax-one">
	<div class="container-fluid content-breather parallax-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<hr>
						<h3 class="text-center light-on-dark">Sign up to our newsletter... 
						<small class="light-on-dark">keep upto date with everything Mist related.</small>							
						</h3>
					<hr>
				</div><!-- End of column -->
			</div><!-- End of row -->
			<div class="row row-centered">
				<div class="col-md-6 col-xs-12 col-centered">
					<form role="form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">@</div>
									<input type="email" class="form-control input-lg" 
									placeholder="Enter email">
							</div><!-- End of input group -->
						</div><!-- End of form group -->
					</form><!-- End of form -->
				</div><!-- End of column -->
			</div><!-- End of row -->
				<div class="row row-centered">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-default btn-lg branding-background">
						Sign up</button>	
					</div><!-- End of column -->
				</div><!-- End of row -->			
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="light-on-dark">Thanks for dropping by, we hope to see you 
					<em>soon......</em></h3>
				</div><!-- End of column -->
			</div><!-- End of row -->
		</div><!-- End of container -->
	</div><!-- End of fluid container -->
</div><!-- End of parallax wrapper -->

<!-- End of signup to Email section -->
