<!-- Start of blog post -->
{{>page-top}}
<div class="container single-post">
	<div class="row">
		<div class="col-md-8">
			<h4 class="sub-title">{{data.post.title}}</h4>
				<hr class="underline">
					<p class="branding"><em>{{#if data.post.author.name.first}}Posted by {{data.post.author.name.first}}{{/if}}</em> on {{fullDate}}</p>

					{{#if data.post.image.url}}
						<img class="blog-thumb" src="{{data.post.image.url}}" alt="Blog image">
					{{/if}}
					
					<!-- Start of article content -->

					<div class="blog-post">{{{data.post.content.extended}}}</div>
				
					<!-- End of article content -->
					
					<!-- Suggested posts section -->
				
	<!-- Please note: the image below is of the comment section from disqus, it is just for illustrative purposes, if you wish to add a disqus comments block, please remove the image code and replace it with the code given to you by disqus.  -->
		
	<div id="disqus" class="row">
		<div class="col-md-12">
			{{>disqus}}
		</div><!-- End of column -->
	</div><!-- End of row -->
</div><!-- End of column, that houses this entire blog post -->
	
	<!-- Blog sidebar -->
		
		<div class="col-md-offset-1 col-md-3" id="blog-sidebar">
		
			<h4 class="no-bottom-margin no-top-margin">Recent Posts</h4>
				<hr class="underline">
					<ul class="blog-categories">
					{{# each data.posts }}
						<li><a href="/blog/post/{{this.slug}}">{{this.title}}</a></li>
					{{/each}}
					</ul><!-- End of categories -->
		
		</div><!-- End of column, and blog sidebar -->
	</div><!-- End of row -->
</div><!-- End of container -->
